//for some reason the w3c isn't seeing 
//the character encoding below.
@charset "utf-8";

body{
	background-color: WhiteSmoke
}

h1{
	color: #7c795d;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 45px;
	text-align: left;
	text-transform: uppercase;
}

h2 {
	color: #7c795d;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 28px;
}
em{
	color:red;
}

p, li{
	color: #4c4a37;
	width: 500px;
}

p {
	font-family: "Source Sans Pro", sans-serif;
}

ul {
	list-style: none;
	line-height: 20px;
}

a:link{
	text-decoration: none;
}

img:hover {
		opacity: 0.5;
		filter: alpha(opacity=50);
}
img {
	border-radius: 25px;
}

table, th, td{
	text-align: center;
	border: 1px solid black;
}

th{
	background-color: orange;
	color: white;
}

ul > li > ul > li{
		color: blue;
		list-style-type: none;
}

 pre code{
	background-color: lightgrey;
	border: 1px solid black;
	display: block;
	padding: 100 px;
}

